<!DOCTYPE html>
<html ng-app="health" lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body ng-controller="healthCtrl">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div id="myContainer">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-heart"></span> Health</a>
          </div>
          <form class="navbar-form navbar-left" role="info">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="date" placeholder="Date" >
              <input type="text" class="form-control" ng-model="weight" placeholder="Weight" >
              <input type="text" class="form-control" ng-model="net_carbs" placeholder="Net Carbs" >
              <input type="text" class="form-control" ng-model="protein" placeholder="Protein" >
              <button class="btn btn-primary" ng-click=""> Submit </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <canvas id="pie" class="chart chart-pie"
  chart-data="data" chart-labels="labels">
</canvas>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="app.js"></script>


</body>
</html>
